:root {
    /*List of colors in the color scheme as variables
        we can ofc add more colors as needed*/
    --colorDark:#0A0D14;        /*darkest, almost black*/
    --colorVibrant:#1E40AF;     /*vibrant middle color (used in logo and icons)*/
    --colorMild:#3B5998;        /*less saturated middle color*/
    --colorLight:#BFDBFE;       /*Lightest, almost white*/
    --color1:#60A5FA;       /*button colors*/


    --bs-btn-font-family:
    

}

.size_and_colors{
    height: 700px;
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;


}
.no-padding{
    padding: 0;
    margin: 0;
}

.header_colors{
    color: var(--colorVibrant);
    background-color: #BFDBFE;

}

.header-text{
    font-size: xx-large;
    color: #1a1a1a !important;
}

.cursor-pointer{
  cursor: pointer;
}

.standard-font{
    font-family: 'Lucida Sans', Verdana, sans-serif;
}


.grid-container > div {
    background-color: #f1f1f1;
    color: var(--colorVibrant);
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }

  .floating-icon {
    position: fixed;
    bottom: 50px; /* Distance from bottom */
    right: 130px; /* Distance from right */
    background-color: var(--colorMild); 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .btn-custom {
    background-color: var(--colorLight) !important;
    border-color: var(--colorLight) !important;
    color: var(--colorDark) !important;
  }
  
  .btn-custom:hover {
    background-color: var(--color1) !important;
    border-color: var(--color1);
  }
  
  .sidebar {
    background-color:#f1f1f1;
    min-height: 900px;

  }

  .post-container{

    background-color: var(--colorLight);
    min-height: 900px;
  }

  .post-card{
    border: 4px solid #1E40AF;
    font-size: large;
    color: #1a1a1a !important;
    margin: 20px;
    background-color: #f1f1f1;
  }

  .post-card-header{
    border: 2px solid #1E40AF;
    font-size: x-large;
    color: #1a1a1a !important;
    padding: 0px;
    margin: 10px;
  }

  .post-card-text{
    padding: 0px;
    margin: 10px;
  }

  .post-card-topic-text{
    margin: 10px;
  }

  .post-card-footer{
    padding: 5px;
    margin: 5px;
  }
 


  /*Choose topics*/

  .row-TopicCard {
    padding: 5px;
    margin: 5px;
    width: fit-content;
    background-color: #BFDBFE;
    display: inline-flex;   /* Use inline-flex for better fit-content behavior */
    flex-wrap: wrap;        /* Allow items to wrap if there is no space */
    align-items: center;    /* Center items vertically */
    gap: 5px;               /* Add space between items */
    border-radius: 5px;     /*  Rounded corners for a better look */
}